//
   Created by Дмитрий on 23.11.2016.
extends sources_list

block content
    //h1= title
    //p Hello page shown HELLO HELLO HELLO #{title}

    form(action='/add_source/', name="add_source_form", method="post")
        div.input
            span.label source_type
            input(type="text", name="source_type", placeholder="source_type")
            div.input
                span.label source_url
                input(type="text", name="source_url", placeholder="source_url")
        div.actions
            input(type="submit", value="add")

    h1= qresponse
